APScheduler==3.10.4
bleach==6.1.0
blinker==1.8.2
cffi==1.17.1
click==8.1.7
cryptography==43.0.3
DateTime==5.5
Flask==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.1
pycparser==2.22
pytz==2024.2
six==1.16.0
tzlocal==5.2
webencodings==0.5.1
Werkzeug==3.0.4
zope.interface==7.1.0
