<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bin-chan, a bin share like Pastebin, but it forgets! Share and auto-delete text with custom expiration" />
    <meta property="og:title" content="Bin-chan | A Forgetful Text Bin" />
    <meta property="og:description" content="Sorry, the bin you are looking for does not exist or expired" />
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}" />
    <meta property="og:url" content="https://bin.tanku.ovh" />
    <meta property="og:type" content="website" />
    <meta name="google-site-verification" content="e6uZRl4dzIQV8N8ylkx9dU7eO215TgM21Ckp5rwMeVs" />
    <title>Bin-chan | Bin is empty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <main class="content">
        <div class="container">
            <h1>404 - Page Not Found</h1>
            <p>Sorry, the bin you are looking for does not exist or expired.</p>
            <p>You can return to the <a href="{{ url_for('index') }}">home page</a> to share your text.</p>
        </div>
    </main>
    <footer class="footer">
        Made by drunk Tanku | <a href="https://github.com/tankudoraiba/bin-chan" target="_blank">GitHub</a>
    </footer>    
</body>

</html>