<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bin-chan | Throw bin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
        <div class="text-box" id="text-to-copy">{{ text }}</div>
        <button class="copy-button" onclick="copyText()">Copy</button>
        <button class="return-button" onclick="Return()">Return</button>
    </div>

    <script>
        function copyText() {
            // Select the text content
            const textToCopy = document.getElementById("text-to-copy").innerText;

            // Create a temporary textarea to copy the text
            const tempTextArea = document.createElement("textarea");
            tempTextArea.value = textToCopy;
            document.body.appendChild(tempTextArea);

            // Select and copy the text from the temporary textarea
            tempTextArea.select();
            document.execCommand("copy");

            // Remove the temporary textarea
            document.body.removeChild(tempTextArea);
        }
        function Return() {
            // Navigate back to the previous page in the browser's history
            window.history.back();
        }
    </script>
</body>

</html>