<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bin-chan | Throw bin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
        <div class="text-box" id="text-to-copy">{{ text | e}}</div>
        <div class="buttons">
            <button class="copy-link-button" onclick="copyLink()">Link</button>
            <button class="copy-button" onclick="copyText()">Copy</button>
            <button class="return-button" onclick="Return()">Return</button>
        </div>
    </div>

    <script>
        function copyText() {
            // Select the text content
            const textToCopy = document.getElementById("text-to-copy").innerText;

            // Create a temporary textarea to copy the text
            const tempTextArea = document.createElement("textarea");
            tempTextArea.value = textToCopy;
            document.body.appendChild(tempTextArea);

            // Select and copy the text from the temporary textarea
            tempTextArea.select();
            document.execCommand("copy");

            // Remove the temporary textarea
            document.body.removeChild(tempTextArea);

            // Change button color
            const copyButton = document.querySelector('.copy-button');
            copyButton.classList.add('green-bg');
            copyButton.classList.add('no-hover');
            setTimeout(() => {
                copyButton.classList.remove('green-bg');
                copyButton.classList.remove('no-hover');
            }, 500);
        }

        function Return() {
            // Navigate back to the previous page in the browser's history
            window.history.back();
        }

        function copyLink() {
            const url = window.location.href; // Get the current page URL
            navigator.clipboard.writeText(url)
                .then(() => {
                    // Change button color
                    const linkButton = document.querySelector('.copy-link-button');
                    linkButton.classList.add('green-bg'); // Add the new background class

                    // Temporarily disable the hover effect
                    linkButton.classList.add('no-hover');
                    setTimeout(() => {
                        linkButton.classList.remove('green-bg'); // Remove the background class
                        linkButton.classList.remove('no-hover'); // Re-enable the hover effect
                    }, 500);
                })
                .catch(err => {
                    console.error("Could not copy text: ", err);
                });
        }

    </script>
</body>

</html>