<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Bin-chan, a bin share like Pastebin, but it forgets! Share and auto-delete text with custom expiration">
    <meta name="keywords"
        content="text bin, Pastebin alternative, auto-delete text, share text, shared bin, temporary text storage, expire text, private text sharing, disposable text sharing, anonymous text bin, secure text sharing, ephemeral text storage, Bin-chan, self-deleting text, code snippets, notes sharing, encrypted text bin, timed text deletion, short-term text sharing, share notes securely, secure online notepad">
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Bin-chan | A Forgetful Text Bin">
    <meta property="og:description" content="Someone shared a bin with you">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">
    <meta property="og:url" content="https://bin.tanku.ovh">
    <meta property="og:type" content="website">
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bin-chan | A Forgetful Text Bin">
    <meta name="twitter:description" content="Someone shared a bin with you">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/logo.png') }}">
    <!-- Google Verification -->
    <meta name="google-site-verification" content="e6uZRl4dzIQV8N8ylkx9dU7eO215TgM21Ckp5rwMeVs">
    <!-- Theme Color -->
    <meta name="theme-color" content="#4d4d4d">
    <title>Bin-chan | Use bin</title>
    <!-- Stylesheets and Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preload" href="{{ url_for('static', filename='css/style.css') }}" as="style">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Favicon and App Icons -->
    <link rel="icon" type="image/png" href="/static/images/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Bin-chan">
    <link rel="manifest" href="/static/images/site.webmanifest">
</head>

<body>
    <main class="content">
        <div class="container">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
            <div class="text-box" id="text-to-copy">{{ text | e}}</div>
            <div class="buttons">
                <button class="copy-link-button" onclick="copyLink()">Link</button>
                <button class="copy-button" onclick="copyText()">Copy</button>
                <button class="return-button" onclick="Return()">Home</button>
            </div>
        </div>
    </main>
    <footer class="footer">
        Made by drunk Tanku |<a href="https://github.com/tankudoraiba/bin-chan" target="_blank">GitHub</a>
    </footer>
    <script>
        function copyText() {
            // Select the text content
            const textToCopy = document.getElementById("text-to-copy").innerText;

            // Create a temporary textarea to copy the text
            const tempTextArea = document.createElement("textarea");
            tempTextArea.value = textToCopy;
            document.body.appendChild(tempTextArea);

            // Select and copy the text from the temporary textarea
            tempTextArea.select();
            document.execCommand("copy");

            // Remove the temporary textarea
            document.body.removeChild(tempTextArea);

            // Change button color
            const copyButton = document.querySelector('.copy-button');
            copyButton.classList.add('green-bg');
            copyButton.classList.add('no-hover');
            setTimeout(() => {
                copyButton.classList.remove('green-bg');
                copyButton.classList.remove('no-hover');
            }, 500);
        }

        function Return() {
            // Redirect to the main page
            window.location.href = '/'; // Change '/' to the appropriate URL if needed
        }

        function copyLink() {
            const url = window.location.href; // Get the current page URL
            navigator.clipboard.writeText(url)
                .then(() => {
                    // Change button color
                    const linkButton = document.querySelector('.copy-link-button');
                    linkButton.classList.add('green-bg'); // Add the new background class

                    // Temporarily disable the hover effect
                    linkButton.classList.add('no-hover');
                    setTimeout(() => {
                        linkButton.classList.remove('green-bg'); // Remove the background class
                        linkButton.classList.remove('no-hover'); // Re-enable the hover effect
                    }, 500);
                })
                .catch(err => {
                    console.error("Could not copy text: ", err);
                });
        }

    </script>

</body>

</html>